@model List<Currency>
@{
    Layout = "/Views/Shared/HeaderLogoOnly.cshtml";
}

@if ((bool)Session["Locked"] == false)
{
<!-- Main Currency Exchange Container-->
<div class="col-md-12">
    <div class="col-md-12 exchangeContainer">
        <!--Left Container-->
        <div class="currencyInfoContainer form-group col-md-4" id="leftContainer">
            <div class="drawBorder btn" id="drawBorder1">
                <input class="currencyInputTF" id="tbExchangeFrom" type="number" min="0.00" max="9999" value="1.00">
                <button type="button" id="btnExchangeFrom" class="btn btn-default dropdown-toggle exchangeDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="dispFlag" src="~/Assets/Images/SGD.png" />SGD<img class="dropdownChevron" src="~/Assets/Images/chevron-bottom-2x.png" />
                </button>
                <ul class="dropdown-menu scrollable-menu" id="ddlExchangeFrom">
                    @foreach (var x in Model)
                    {
                        <li class="drop">
                            <a href="JavaScript:void(0)"><img class="scrollbarDispFlag" src="@x.Flag">&nbsp;&nbsp;@x.Name</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <!--Mid Container-->
        <div class="currencyInfoContainer form-group col-md-4" id="midContainer">
            <img src="~/Assets/Images/exchangeicon_white.png" id="exchangeIcon" />
        </div>
        <!--Right Container-->
        <div class="currencyInfoContainer form-group col-md-4" id="rightContainer" ;">
            <div class="drawBorder btn" id="drawBorder2">
                <input class="currencyInputTF" id="tbExchangeTo" type="number" min="0.00" max="9999" value="1.00">
                <button type="button" id="btnExchangeTo" class="btn btn-default dropdown-toggle exchangeDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="dispFlag" src="~/Assets/Images/MYR.png" />MYR<img class="dropdownChevron" src="~/Assets/Images/chevron-bottom-2x.png" />
                </button>
                <ul class="dropdown-menu scrollable-menu" id="ddlExchangeTo">
                    @foreach (var x in Model)
                    {
                        <li class="drop">
                            <a href="JavaScript:void(0)"><img class="scrollbarDispFlag" src="@x.Flag">&nbsp;&nbsp;@x.Name</a>
                        </li>
                    }
                </ul>
            </div>
        </div>


        <div class="col-md-12" id="marketRateContainer">
            <div class="putCenter" id="MarketRateDiv">Market Rate: <label id="lblResult">1.00</label></div>
        </div>

        <div class="col-md-12">
            <div class="putCenter">
                 @if (Session["Username"] != null)
                 {
                <button  type="button" class="btn btn-primary btn-lg starExchange" ><img src="/Assets/Images/yellowStar.png"/></button>
                 }
                <button type="button" class="btn btn-primary btn-lg" id="btnViewMoneyChangers">View Money Changers</button>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="col-md-12 loadingContainer">
        <img class="loading" src="assets/images/snow.gif"/>
        <img class="loading" src="assets/images/snow.gif"/>
        <img class="loading" src="assets/images/snow.gif"/>
    </div>
</div>

<div class="col-md-12">
    <div class="col-md-12 chartContainer">
        <canvas id="myChart"></canvas>
    </div>
</div>

<!--Display and Filter Section-->

<!--Filter: Search Money Changers-->
<div class="col-md-12">
    <div id="moneyChangerContainer">
        <div class="col-md-12" style="padding-right:0;padding-left:0.5em">
            <div class="searchMCStyle @*col-md-6*@">
                Search:
                <input type="text" class="form-control searchBoxStyle" id="tbSearch">
            </div>
            @*<div class="col-md-1"></div>*@
            <div class="@*col-md-5*@ btnSortStyle">
                Sort By:
                @if (Session["Username"] != null)
                {
                <button id="btnStyleFav" class="btn btnStyleFav"><strong>Favourites</strong></button>
                }
                <button id="btnStyleLowest" class="btn btnStyleLowest"><strong>Lowest rate</strong></button>
                <button id="btnStyleBest" class="btn btnStyleBest"><strong>Best rate</strong></button>
            </div>
        </div>
        <!--Display Money Changers-->
        <table class="table">
            <tbody id="tbMoneyChanger">
                <tr id="trMoneyChanger" class="trStyle">
                    @if (Session["Username"] != null)
                    {
                    <td class="col-md-1 tdStyleLeft">
                        <a href="JavaScript:void(0)" class="btnFav">
                            <img src="/Assets/Images/yellowStar_white.png" class="favIcon" />
                        </a>
                    </td>
                    <td class="col-md-5">
                        <label class="moneyChangerNameStyle">
                            <strong>{{Name}}</strong>
                        </label>

                        <br />
                        <label class="mcLocationStyle">{{Location}}</label>
                    </td>
                    }
                    else
                    {
                    <td class="col-md-6 tdStyleLeft">
                        <label class="moneyChangerNameStyle">
                            <strong>{{Name}}</strong>
                        </label>

                        <br />
                        <label class="mcLocationStyle">{{Location}}</label>
                    </td>
                    }
                    <td class="col-md-4">
                        <div class="exchangeInfo">
                            <label><strong>1 {{ExchangeFrom}} = {{Rate}} {{ExchangeTo}}</strong></label><br />
                            <div class="lastUpdatedTimeStyle">{{LastUpdated}}</div>
                        </div>
                    </td>
                    <td class="col-md-2 tdStyleRight">
                        <a href="/MoneyChangers/{{Name}}" class="btn btn-default btnStyle"><strong>Details</strong></a>
                    </td>
                </tr>
                <tr class="trStyleSpacer"></tr>
            </tbody>
        </table>
    </div>
</div>
}