<html>
<head>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link href="~/Assets/Css/header.css" rel="stylesheet" />
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/script.js"></script>
    <script src="assets/js/Chart.min.js"></script>
    <link href="/Assets/Css/stylesheet.css" rel="stylesheet" />    
</head>
<body>


    <div class="container mainContainer">
        
        <div class="row rowContainer" id="outerContainer">
            @*currency conversion section*@

            <div class="col-md-2"></div>
            <div class="row col-md-8">
                <div class="row rowContainer">
                    <div class="navbar navbar-expand-lg" id="header">
                        <img id="logo" src="~/Assets/Images/logo.png" />
                    </div>
                    @RenderBody()
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div> @*end container*@

</body>
</html>


