<html>
<head>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/script.js"></script>
    <script src="assets/js/Chart.min.js"></script>
    <link href="/Assets/Css/stylesheet.css" rel="stylesheet" />    
</head>

    

@if ((bool)Session["Locked"] == true)
{
    <body style="display:none;">     
          @RenderBody()                     
    </body>
}
else
{
<body>


    <div class="container mainContainer">
        <div class="row rowContainer" id="outerContainer">
            @*currency conversion section*@
            <div class="col-md-12" @*style="background-color:black"*@>
                <a href="/"><img id="logoNew" src="/Assets/Images/Logo4.png"></a>
                <div class="navbar-right" id="headerBtnDiv">
                    <a class="btn headerBtn" id="headerBtnRegister" href="/SignUp">Sign Up</a>
                    <a class="btn headerBtn" id="headerBtnLogin" href="/Login">Log In</a>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-1"></div>
                <div class="row col-md-10">
                    <div class="row rowContainer">
                        @*<div class="navbar navbar-expand-lg" id="header">
                    <a href="/"><img id="logo" src="~/Assets/Images/Logo2.png" /></a>
                </div>*@
                        <div class="subContainer">
                            @RenderBody()
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div> @*end container*@

</body>
}
</html>


