@{
    Layout = "/Views/Shared/Header.cshtml";
}

<link href="~/Assets/Css/stylesheet.css" rel="stylesheet" />

<div class="container" id="loginContainer">
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item inactiveTab">
            <a class="nav-link" id="signupTab" href="/SignUp">Sign Up</a>
        </li>
        <li class="nav-item activeTab">
            <a class="nav-link" id="loginTab">Log In</a>
        </li>
    </ul>

    <form id="loginForm">
        <div class="form-group row formDiv">
            <label for="username" class="col-md-3 col-form-label">Username</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="username" placeholder="Username">
            </div>
        </div>
        <div class="form-group row formDiv">
            <label for="password" class="col-md-3 col-form-label">Password</label>
            <div class="col-md-9">
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
        </div>
        <div class="col-md-12">
            <label class="lblFailMsg"></label>
        </div>
        <button type="button" class="btn btn-default" id="btnLogin">Login</button>

    </form>

</div>

