#logo{
    width: 100px;
    height: 100px;
    margin-left: 5%;
    padding: 10px;
}

#header {
    background-image: linear-gradient(to bottom,#03adfc,#0952b3,#0d0ac2);
    border-radius: 0 !important;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.buttons{
    margin-right:0;
    float: right;
    padding-right: 18%;
    padding-top: 3%;
}

#dropdownIcon {
    padding-left: 6px;
}


a.userBtn:hover, a.userBtn:active {
    background-color: #0fa9d6 !important;
}