@import url('https://fonts.googleapis.com/css?family=Almarai|Open+Sans&display=swap');

.container{
    width:100%;
    height:100%;
    overflow: hidden;
    padding: 0;
}

.row {
    margin:0;
}

.mainContainer {
    background-color: white;
    background-image: url('../Images/background.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#outerContainer .rowContainer {
    /*background: rgba(255, 255, 255, 0.9);*/
    height: 85%;
}

#outerContainer {
    overflow-y: hidden
}

.rowContainer::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

.rowContainer::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.rowContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.navbar {
    margin-bottom: 0;
}

/*----------------Header CSS-----------------*/
#logo {
    width: 320px;
    height: 100px;
    margin-left: 30px;
    padding: 10px;
}

#logoNew {
    width: 320px;
    height: 100px;
    padding: 10px 0px;
}

#header {
    /*background-color: whitesmoke; */
    background-image: url('../Images/header-background.png');
    border-radius: 0 !important;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

fieldset
.buttons {
    margin-right: 0;
    float: right;
    padding-right: 18%;
    padding-top: 3%;
}

#dropdownIcon {
    padding-left: 6px;
}

a.userBtn:hover, a.userBtn:active {
    /*background-color: #0fa9d6 !important;*/
}

/*-----------------------------------------*/


/*---------------Containers CSS------------*/
.subContainer {
    /*margin-top: 20px;*/
    margin-top: 10px;
}

.rowContainer {
    overflow-y: scroll;
    height: 100%;
    top: 0;
}

.rowContainer ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.currencyInfoContainer {
    margin-top: 10px;
}

#midContainer{
    text-align: center;
}
/*-----------------------------------------*/


/*Other CSS*/
.dispFlag{
    width: 55px;
    height: 55px;
    margin-right: 0.2em;
}

.dropdownChevron {
    padding-left: 0.5em;
}

.scrollbarDispFlag {
    width: 30px;
    height: 30px;
}

#exchangeIcon {
    width: 180px;
    height: 140px;
}

.drawBorder {
    background: white;
    border: 2px solid black;
    width: 100%;
    border-radius: 15px;
    padding: 1em;
}

#marketRateContainer {
    padding-top: 2em;
    /*padding-bottom: 2em;*/
}

#MarketRateDiv {
    border: black solid 2px;
    font-size: 20pt;
    background-color: white;
}

.putcenter {
    text-align: center;
    width: 40%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-left: 30%;
    margin-bottom: 0.5em;
}

#btnViewMoneyChangers {
    font-size: 18pt;
    color: white;
    background-color: #eb9c15;
    border: none;
    box-shadow: 2px 3px #fff;
}

#btnViewMoneyChangers:hover {
        background-color: #e8860e;
}

.boxLabel {
    text-align: center;
    font-size: 18pt;
}

.currencyInputTF {
    width: 40%;
    padding-top: 0.5em;
    font-size: 35pt;
    text-align: center;
}

.exchangeDropdown{
    width: 60%;
    height: 4em;
    font-size: 12pt;
    margin-top: 1em;
    float: right;
    border:none;
    outline: none;
    box-shadow: none;
}

.dropdown-menu li:hover {
    background-color: #ddd;
}

.dropdown-menu > li > li:hover {
    background: #f1f9fd;
}

.down:hover .scrollable-menu {
    display: block;
}

.dropdown-menu {
    margin-left: 10em;
    margin-top: -2em;
}

.scrollable-menu{
    height: auto;
    width: 49%;
    margin-left:42%;
    max-height: 200px;
    overflow-x: hidden;
}

input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: gray;
}

input:focus {
    border-color: black;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.chartContainer {
    margin-top: 10px;
    background-color: beige;
    background: rgba(10, 0, 0, .5)
    /*border-radius:8px;*/
    /*padding-top: 2em;*/
    /*padding-bottom: 2em;*/
}

.loadingContainer {
    margin-top: 10px;
    background: rgba(10, 0, 0, .5)
    /*border-radius:8px;*/
    /*padding-top: 2em;*/
    /*padding-bottom: 2em;*/
}

.loading {
    width: 33%;
    height: 100%;
}

.homeSearch { 
    /*display:inline;*/
    margin:0px;
    /*padding:0px;*/
}

.moneyChangerContainer {
    padding: 0px 0px;
    margin: 0px;
    background-color: whitesmoke;
    border: #e1e1e1 solid 2px;
    border-radius:8px;
}

.mcDetailDiv{
    padding-left: 0.5em;
    padding-bottom: 2em;
}

.detailIcon {
    width: 22px;
    height: 22px;
}

#locationIcon {
    width: 18px;
    height: 24px;
}

#detailLocationLbl {
    padding-left: 0.3em;
}

.mcDetailLbl{
    margin-left: 0.5em;
}

#moneyChangerName {
    font-family: 'Almarai', sans-serif;
    font-size: 20pt;
    font-weight: bold;
}

.moneyChangerDetails {
    padding-top: 0.5em;
    font-size: 11pt;
    color: #616161;
    font-weight: lighter;
    font-family: 'Almarai', sans-serif;
}

.tableCtyIcon {
    width: 20px;
    height: 20px;
}

.tableFlagIcon {
    padding-left: 0.5em;
    white-space: nowrap;
}

.tableHeader {
    background-color: oldlace;
    color: black;
}

.mapModel{
    width:300px;
    height:300px;
}

.currencyExchangeContainer {
    margin-top: 3%;
}

.detailsTableContainer{
    padding:0px 15px 0px 0px;
}

.table-curved tr.evenRow {
    background-color:white;
}

.table .table-curved tr {
    background-color: white;
    border-collapse: collapse;
    /*border-radius: 8px;*/
    border-left: 0px;
    padding: 0px;
    border-radius: 1em;
}

.table-curved tr.tableHeader th:first-child {
    border-top-left-radius: 8px;
}

.table-curved tr.tableHeader th:last-child {
    border-top-right-radius: 8px;
}

.table-curved tr.oddRow {
    background-color: whitesmoke;
}

.table-curved tr.oddRow td:first-child {
    border-bottom-left-radius: 8px;
}

.table-curved tr.oddRow td:last-child {
    border-bottom-right-radius: 8px;
}

.currencyInput, select {
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.tbCol {
    width: 33%;
    font-weight: bold;
    font-size: 14pt;
}

.lastUpdatedTimeStyle {
    margin-left:2em;
    font-size:12px;
    text-align: center;
    opacity: 0.5;
    margin-bottom:5px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 32px;
}

.lastUpdatedTimeStyleDetails {
    font-size: 12px;
    text-align: center;
    opacity: 0.5;
    margin-bottom: 5px;
    width: 60%;
    font-style:italic;
    border: 1px solid #ccc;
    border-radius: 32px;
}

.table .trStyle{
    background-color: white;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    border-style: hidden;
    border-radius: 8px;
}

.trStyleSpacer {
    height:6px;
}

.tdStyleLeft {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-bottom: 1px;
}

.tdStyleRight {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.btnStyle {
    color: white;
    background-color: #eb9c15;
    border: none;
    box-shadow: 1px 2px #888888;
    height:35px;
    width:60%;
    padding-top:8px;
    margin-top:10%;
    margin-left:28%;
}

.btnSortStyle {
    padding: 1em 0 0 2em;
    float: right;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 18px;
}

.btnStyleBest {
    color: white;
    background-color: #eb9c15;
    border: none;
    border: 1px solid #eb9c15;
    margin-top: 10px;
    margin-bottom: 1em;
    padding-bottom: 2px;
}

.btnStyleBest:hover {
    color: white;
    background-color: #eb9c15;
    border: none;
    border: 1px solid #eb9c15;
}

.btnStyleLowest {
    color: white;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom:1em;
    padding-bottom: 2px;
    background:rgba(10,0,0,0.7);
}

.btnStyleLowest:hover {
    color: white;
    background-color: #eb9c15;
    border: none;
    border: 1px solid #eb9c15;
}

.btnStyleFav {
    color: white;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 1em;
    padding-bottom: 2px;
    background: rgba(10,0,0,0.7);
}

.btnStyleFav:hover {
    color: white;
    background-color: #eb9c15;
    border: none;
    border: 1px solid #eb9c15;
}

.btnStyle:hover {
    background-color: #e8860e;
    color: white;
}
.btnStyleFav:focus {
    color: white;
}
.trStyle:hover {
    background-color: #eb9c15
}

.trStyle:hover .moneyChangerNameStyle{
    color:white;
}

.trStyle:hover .mcLocationStyle {
    color:white;
}

.trStyle:hover .btnStyle {
    color: black;
    background-color: white;
    box-shadow:rgba(0,0,0,0);
}

.trStyle:hover .lastUpdatedTimeStyle{
    color:white;
    border:2px solid white;
    font-weight:bold;
}

.trStyle:hover .tdStyleRight label {
    color: white;
}

#moneyChangerContainer{
    margin-bottom:20px;
}

.moneyChangerNameStyle{
    padding-left:5px;
    font-size:22px;
    margin-top:0.35em;
}

.mcLocationStyle {
    font-style:italic;
    font-size:small;
    padding-left: 5px;
    color:darkgray
}

.searchMCStyle {
    display: inline;
    font-size: 18pt;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    padding: 0.65em 0 0 0;
    float:left;
    width:40%;
}

.searchBoxStyle {
    width: 65%;
    display: inline;
    margin-top: 10px;
    padding-bottom: 2px;
}

#detailsTable{
    margin:0px;
    padding:0px
}

/* Register Page */
#regContainer {
    background-color: white;
    width: 50%;
    height: 95%;
    border-radius: 15px;
}

.nav {
    font-size: 16pt;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: black;
    background: white;
}

.activeTab:hover {
    background-color: white;
    cursor: default;
    color: black;
}

.inactiveTab {
    border-left: solid gray 1px;
    border-right: solid gray 1px;
    border-bottom: solid gray 5px;
}

.inactiveTab:hover{
    color: black;
}

#regForm{
    padding: 1em 2em 2em 2em;
}

.errormsg {
    color: red;
}

#btnRegister {
    font-size: 12pt;
    color: white;
    background-color: #eb9c15;
    border: none;
    box-shadow: 2px 3px #fff;
}

#btnRegister:hover {
        background-color: #e8860e;
        box-shadow: 1px 1px #4C4B4A;
    }

/* Login Page */
#loginContainer {
    background-color: white;
    width: 50%;
    height: 55%;
    border-radius: 15px;
}

#loginForm {
    padding: 1em 2em 2em 2em;
}

#btnLogin {
    font-size: 12pt;
    color: white;
    background-color: #eb9c15;
    border: none;
    box-shadow: 2px 3px #fff;
}

#btnLogin:hover {
        background-color: #e8860e;
        box-shadow: 1px 1px #4C4B4A;
}


/*Adjustment for smaller screen*/
@media screen and (max-width: 1000px) {
    .thumbnail {
        width: 70%;
    }

    .nav{
        font-size: 12pt;
    }

    .inactiveTab {
        border-left: none;
        border-right: none;
    }

    .moneyChangerContainer{
        width: 50%;
        float: left;
    }

    #detailsTable{
        width: 50%;
        float: right;
    }

    #loading {
       width: 60%;
       height: 50%;
       margin-left: 22%;
    }

    #MarketRateDiv{
        width: 50%;
        font-size: 16pt;

    }

    #btnViewMoneyChangers {
        position: absolute;
        width: 50%;
        margin-left: -20%;
        font-size: 14pt;
    }

    .searchBoxStyle{
        width: 50%;
    }
}

.favIcon{
    width:50px;
    height:40px;
    padding:0;
    margin-top:0.8em;
    margin-left:1em;
    margin-right:0;
}

.favIcon:hover {
    width: 50px;
    height: 40px;
    padding: 0;
    margin-top: 0.8em;
    margin-left: 1em;
    margin-right: 0;
    content: url("/Assets/Images/yellowStar.png");
}


/*Adjustment for normal screen*/
@media screen and (min-width: 1000px) {
    #loading {
        margin-left: 20%;
    }
}

/*Adjustment for large screen*/
@media screen and (min-width: 1300px) {
    #loading{
        margin-left: 28%;
    }
}

