.container{
    width:100%;
}

.switchTab{
    padding-top: 2em;
    padding-bottom:2em;
}

.tabs{
    padding: 0px;
}

.activeNow{
    font-size: 18pt;
}

.inactiveNow{
    font-size: 18pt;
}

#outerContainer{    
    padding-top: 2em;
}

.currencyInfoContainer{
    margin-top: 2em;
}

#midContainer{
    text-align: center;
}

.dispFlag{
    width: 55px;
    height: 55px;
}

.scrollbarDispFlag {
    width: 30px;
    height: 30px;
}

#exchangeIcon{
    width: 35%;
    height: 20%;
}

.drawBorder {
    border: 2px solid black;
    width: 100%;
    border-radius: 15px;
    padding: 1em;
}

#MarketRateDiv {
    border: black solid 3px;
    font-size: 20pt;
}

.putcenter {
    text-align: center;
    width: 40%;
    padding-top: 0.4em;
    margin-left: 30%;
    margin-bottom: 0.5em;
}

#btnViewMoneyChangers{
    font-size: 18pt;
}

.boxLabel {
    text-align: center;
    font-size: 18pt;
}

.currencyInputTF {
    width: 40%;
    padding-top: 0.5em;
    font-size: 35pt;
    text-align: center;
}

.exchangeDropdown{
    width: 60%;
    height: 4em;
    font-size: 12pt;
    margin-top: 1em;
    float: right;
    border:none;
    outline: none;
    box-shadow: none;
}

.dropdown-menu li:hover {
    background-color: #ddd;
}

.dropdown-menu > li > li:hover {
    background: #f1f9fd;
}

.down:hover .scrollable-menu {
    display: block;
}

.dropdown-menu {
    margin-left: 10em;
    margin-top: -2em;
}

.scrollable-menu{
    height: auto;
    width: 20%;
    max-height: 200px;
    overflow-x: hidden;
}

input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: gray;
}

input:focus {
    border-color: black;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.homeSearch { 
    /*display:inline;*/
    margin:0px;
    /*padding:0px;*/
}

.moneyChangerContainer{
    padding:10px 0px;
    margin:0px;
    background-color:whitesmoke;
}
.moneyChangerName {
    padding:10px 0px;
    margin:0px;
    font-family:Arial
    font-size: 20px;
    font-weight: bolder;
}

.moneyChangerDetails {
    padding: 10px 0px;
    margin: 0px;
    font-size: 15px;
}

.tableHeader {
    background-color:black; 
    color:white;
}

.mapModel{
    width:300px;
    height:300px;
}


.currencyExchangeContainer {
    margin-top: 3%;
}

.tableConfig {
    margin-top:10px;
    border:thick 5px;
    border-radius:5px;
}

.currencyInput, select {
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}