.container{
    width:100%;
}

.switchTab{
    padding-top: 2em;
    padding-bottom:2em;
}

.tabs{
    padding: 0px;
}

.activeNow{
    font-size: 18pt;
}

.inactiveNow{
    font-size: 18pt;
}

#outerContainer{    
    padding-top: 2em;
}

#mainContainer {
   
}

.currencyInfoContainer{
    margin-top: 2em;
}

#leftContainer {
    
}

#midContainer{
    text-align: center;
}

#rightContainer{

}

#exchangeIcon{
    width: 35%;
    height: 20%;
}

.drawBorder {
    border: 2px solid black;
    width: 100%;
    border-radius: 15px;
    padding: 2em;
}

#MarketRateDiv {
    border: black solid 3px;
    font-size: 20pt;
}

.putcenter {
    text-align: center;
    width: 40%;
    padding-top: 0.4em;
    margin-left: 28%;
    margin-bottom: 0.5em;
}

#btnViewMoneyChangers{
    font-size: 18pt;
}

.boxLabel {
    text-align: center;
    font-size: 18pt;
}


.currencyInputTF {
    width: 3em;
    padding-top: 0.5em;
    font-size: 35pt;
    text-align: center;
}

.exchangeDropdown{
    width: 40%;
    height: 4em;
    font-size: 15pt;
    margin-top: 1em;
    float: right;
    border:none;
    outline: none;
    box-shadow: none;
}

input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: gray;
}

input:focus {
    border-color: black;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.homeSearch {
    width:80%; 
    display:inline;
    margin:0px;
    /*padding:0px;*/
}