
@{
    Layout = "/Views/Shared/HeaderLogoOnly.cshtml";
}
<link href="~/Assets/Css/stylesheet.css" rel="stylesheet" />

<div class="container" id="regContainer">
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item activeTab">
            <a class="nav-link" id="signupTab">Sign Up</a>
        </li>
        <li class="nav-item inactiveTab">
            <a class="nav-link" id="loginTab" href="/Login">Log In</a>
        </li>
    </ul>

    <form id="regForm">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Username">
            <small for="username" class="errormsg" id="usernameError"></small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
            <small class="errormsg" id="passwordError"></small>
            </br >
        </div>
        <div class="form-group">
            <label for="confirmpassword">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password">
            <small class="errormsg" id="confirmPWError"></small>
        </div>
        <div class="form-group">
            <label for="mobilenumber">Mobile Number</label>
            <input type="number" class="form-control" id="mobilenumber" placeholder="e.g. 8765 4321">
            <small for="username" class="errormsg" id="mobileNoError"></small>
        </div>
        <div>
            <label class="lblSuccessMsg">success</label>
        </div>
        <button type="button" class="btn btn-primary" id="btnRegister">Create Account</button>
    </form>
    
</div>



