
@{
    Layout = "/Views/Shared/Header.cshtml";
}
<link href="~/Assets/Css/stylesheet.css" rel="stylesheet" />

<div class="container" id="regContainer">
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item activeTab">
            <a class="nav-link" id="signupTab">Sign Up</a>
        </li>
        <li class="nav-item inactiveTab">
            <a class="nav-link" id="loginTab" href="/Login">Log In</a>
        </li>
    </ul>

    <form id="regForm">
        <div class="form-group row formDiv">
            <label for="username" class="col-md-3 col-form-label">Username</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="username" placeholder="Username">
                <small for="username" class="errormsg" id="usernameError"></small>
            </div>
        </div>
        <div class="form-group row formDiv">
            <label for="password" class="col-md-3 col-form-label">Password</label>
            <div class="col-md-9">
                <input type="password" class="form-control" id="password" placeholder="Password">
                <small for="password" class="errormsg" id="passwordError"></small>
            </div>
        </div>
        <div class="form-group row formDiv">
            <label id="lblConfirmPassword" for="confirmpassword" class="col-md-3 col-form-label">Confirm Password</label>
            <div class="col-md-9">
                <input type="password" class="form-control" id="confirmpassword" placeholder="Confirm Password">
                <small for="confirmpassword" class="errormsg" id="confirmPWError"></small>
            </div>
        </div>
        <div class="form-group row formDiv">
            <label for="mobilenumber" class="col-md-3 col-form-label">Mobile Number</label>
            <div class="col-md-9">
                <input type="number" class="form-control" id="mobilenumber" placeholder="e.g. 8765 4321">
                <small for="mobilenumber" class="errormsg" id="mobileNoError"></small>
            </div>
        </div>
        <div>
            <label class="lblSuccessMsg"></label>
        </div>
        <button type="button" class="btn btn-primary" id="btnRegister">Create Account</button>
    </form>
    
</div>



